html {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: #fcf1a6;
}

.nav-list-index {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: large;
    margin-top: 1rem;
}
.nav-list-index a:link {
    color: #043915;
    text-decoration: none;
    font-weight: bold;
}
.nav-list-index a:visited {
    color: #6f8356;
}
.nav-list-index a:hover {
    text-decoration: underline;
}
.nav-list-index a:active {
    color: #FFFD8F;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: #05501d;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    text-shadow: #043915 2px 2px 4px;
}
.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    align-self: center;
}
.container {
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #043915;
  box-shadow: #000000 4px 4px 8px;
  border-radius: 10px;
  padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
.description {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
}
h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 0.5rem;
    color: #faf9cd;
    
}
.assignments {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 10px;
    background-color: #05501d;
    font-size: large;
    list-style-type: circle;
    list-style-position: inside;
    padding-top: .1rem;
    padding-bottom: .1rem;
    
}

.assignments a:link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: normal;
}
.assignments a:visited {
    color: #95af72;
}
.assignments a:hover {      
    text-decoration: underline;
}
.assignments a:active {
    color: #FFFD8F;
}   
footer {
    text-align: center;
    margin-top: 4rem;
    background-color: #95af72;
    color: #000000;
    font-size: small;
    padding-top: .1rem;
    padding-bottom: .1rem;
}
footer a:link {
    color: #000000;
    text-decoration: none;
}
footer a:visited {
    color: #ffffff;
}
footer a:hover {
    text-decoration: underline;
}
footer a:active {
    color: #FFFD8F;
}   
.top-link {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.top-link a:link {
    color: #043915;
    text-decoration: none;
    font-weight: bold;
}
.top-link a:visited {
    color: #6f8356;
}
.top-link a:hover {
    text-decoration: underline;
}
.top-link a:active {
    color: #000000;
}