html {
    font-family: Arial, sans-serif;
    background-color: #fcf1a6;
    box-sizing: border-box;
}
* ,
* ::before ,
* ::after {
box-sizing: inherit;
}

.nav-list-index {
    list-style-type: none;
    font-size: large;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2 4 12l8 10 8-10-8-10Z" fill="%232B7137"></path></svg>');
}
.nav-list-index a:link {
    color: #043915;
    text-decoration: none;
    font-weight: bold;
}
.nav-list-index a:visited {
    color: #6f8356;
}
.nav-list-index a:hover {
    text-decoration: underline;
}
.nav-list-index a:active {
    color: #FFFD8F;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: #05501d;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

p {
    text-align: center;
   
}

h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 0.5rem;
    color: #05501d;
    
}
.assignments {
    font-size: large;
    list-style-type: none;
    list-style-position: inside;
    list-style-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 23a1 1 0 0 1-.78-.38l-8-10c-.29-.37-.29-.88 0-1.25l8-9.99c.38-.47 1.18-.47 1.56 0l8 10c.29.37.29.88 0 1.25l-8 10a1 1 0 0 1-.78.38ZM5.28 12 12 20.4l6.72-8.4L12 3.6 5.28 12Z" fill="%232B7137"></path></svg>');
text-align: center;
}

.assignments a:link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: normal;
}
.assignments a:visited {
    color: #95af72;
}
.assignments a:hover {      
    text-decoration: underline;
}
.assignments a:active {
    color: #FFFD8F;
}   
footer {
    text-align: center;
    color: #000000;
    font-size: small;
}
footer a:link {
    color: #000000;
    text-decoration: none;
}
footer a:visited {
    color: #000000;
}
footer a:hover {
    text-decoration: underline;
}
footer a:active {
    color: #FFFD8F;
}   
.top-link {
    text-align: center;
}
.top-link a:link {
    color: #043915;
    text-decoration: none;
    font-weight: bold;
}
.top-link a:visited {
    color: #6f8356;
}
.top-link a:hover {
    text-decoration: underline;
}
.top-link a:active {
    color: #000000;
}